body {
    background: #0A0B1C;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    display: flex;
    background-image: url(https://i.pinimg.com/originals/da/ba/c1/dabac192ea77e56e437ce0cbb171e4ee.jpg);
    background-size: cover;
    background-position: left;
}

#canvas{
    backdrop-filter: blur(5px);
    background: linear-gradient(rgba(126, 90, 90, 0.2), rgba(0, 0, 0, 0.2) );
    width: 100%;
    font-size: 10%;
}

#logo {
    /* background: #4E77FF; */
    height: 3%;
}

#bettingstatus {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #F9F9F9;
}

#sidebar {

    display: flex;
    flex-direction: column;
    font-size: 18px;
    /* width: 15vw; */
    background-color: #181921;
    padding-left: 15px;
    padding-right: 15px;
    height: 100vh;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.46);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.46);
    z-index: 3;
}

.sidebarlink {
    color: #84929E;
}

.sidebarlink:link {
    text-decoration: none;
}

.sidebarlink:visited {
    text-decoration:none;
}

.sidebarlink:hover {
    color: #FEFEFE !important;
}


#left-aligned {
    align-content: flex-start;
}

#profilediv {
    flex-direction: row;
}

#reputation {
    color: #95faff;
    border-bottom: 0.5px solid #84929E;
    font-size: 35px;
}

#first-place {
    background: #F7C64A;
    border-radius: 25px;
    font-size: 5vw;
}

#second-place {
    background: #A4A4A4;
    border-radius: 20px;
    float: left;
    font-size: 3vw;   
}
#third-place {
    background: #875A25;
    border-radius: 20px;
    float: right;
    font-size: 1.7vw;
}

#leaderboard {
    color: #FEFEFE;
    font-size: 1.5vw;
    width: 85vw;
}

.leaderboard-entry {
    display: flex;
    flex-direction: row;
    width: 25vw;
    justify-content: space-between;
    margin: 1%;
    border-bottom: 1px solid gray;
    width: 60%
}

.user-id {
    display: flex;
    flex-direction: row;
}


.ranking-number {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-weight: lighter;
    padding-left: 5px;
}

#profile {
    margin-top: auto;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 8%;
    position: relative;
    /* right: 10%; */
    /* padding: 0; */
  }
  
  
  #profile img {
    margin: 0;
    border-radius: 100px;
    /* scale: 30%; */
    padding: 0;
    height: auto;
    width: 30%;
    margin-right: 20%;
  }
  
  #profile p {
    margin: 0;
    padding: 0;
  }
  
  #logout {
    display: flex;
    justify-content: center;
    padding-bottom: 4%;
  }
  
  .logout{
    cursor: pointer;
    width: 10vw;
    color: rgb(150, 150, 150);
    background-color: #181921;
    transition-duration: 0.4s;
    border-radius: 5px;
    height: 5vh;
    border-color: crimson;
    align-self: center;
  }
  
  .logout:hover {
    background-color: crimson; 
    color: white;
  }


#top-50 {
    height: 65vh;
    overflow: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#top-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
    
}

.top-entry {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5%;
    width: 70%;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.46);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.46);
    z-index: 3;
}

#repsubtitle {
    color:#84929B; 
    font-size: 12px;
}
