body {
    background: #0A0B1C;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    display: flex;
    grid-template-rows: 1fr;
    grid-template-columns: 300px 1fr 1fr;
}

.sidebarlink:link {
    text-decoration: none;
}

.sidebarlink:visited {
    text-decoration:none;
}

#canvas {
    display: flex;
    flex-direction: row;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.iconsdiv {
    overflow: hidden;
    border-radius: 50%;
    width: 100px;
    height: 100px;

}
.icons {
    scale: 105%;
    width: 100px;
    height: auto;
}

#logo {
    background: #4E77FF;
    height: 50px;
}

#bettingstatus {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #F9F9F9;
}

#sidebar {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    width: 15vw;
    background-color: #181921;
    padding-left: 15px;
    padding-right: 15px;
}

.sidebarlink {
    color: #84929E;
}

.patch-change-block {
    color: rgb(255, 255, 255);
    padding-bottom: 100px;
}

.patch-change-block {
    display: block;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(36, 44, 54);
    border-image: initial;
    margin: 3.57143%;
    padding: 3.57143%;
    cursor: default;
    -webkit-tap-highlight-color: transparent;
    font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
}

.change-detail-title {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding-top: 10px;
}

.summary {
    padding-left: 14.2857%;
    padding-top: 5px;
    margin: 0px;
}

.reference-link {
    top: 0px;
    left: 0px;
    width: 10.7143%;
    min-width: 60
}

.attribute {
	color: rgb(134, 134, 134);
text-transform: uppercase;
}
.attribute-before {
    color: rgb(134, 134, 134);
    text-decoration: line-through;
}
.attribute-after {
    color: rgb(255, 255, 255);
}

.white-stone.accent-before {
color: rgb(255, 255, 255);

}

.new {
    background-color: rgb(78, 166, 78);
position: relative;
    top: -1px;
    margin-right: 4px;
    font-size: 0.4375rem;
    font-weight: 200;
    letter-spacing: 1.5px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 3px 3px 3px 5px;
}

.blockquote {
    margin-left: 3.57143%;
    margin-right: 3.57143%;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
font-size: 0.875rem;
    line-height: 1.6;
    margin: 7.14286% 7.14286% 3.57143%;
color: rgb(255, 255, 255);

}

.header-primary {
    font-size: 2rem;
    font-weight: 800;
    font-family: "Beaufort for LOL", serif;
    letter-spacing: 2.5px;
    line-height: 1;
    color: rgb(208, 168, 92);
    margin: 0px;
}

.context-designer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 0.75rem;
    color: rgb(134, 134, 134);
    margin: 5px 0px;
}

#left-aligned {
    align-content: flex-start;
}

#profile {
    margin-top: auto;
    padding-bottom: 10px;
}

#reputation {
    
    color: #FEFEFE;
    border-bottom: 0.5px solid #84929E;
    font-size: 14px;

}

#patchnotes-embed {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    width: 42.5vw;
    overflow: auto;
    height: 100vh;
}

#champlist {
    grid-column: 2;
    flex-wrap: wrap;
    overflow: auto;
    width: 42.5vw;
    height: 100vh;
    display: flex;
}

.patch-change-block {
    margin: 0;
}

.blockquote.context {
    margin: 3%;
}

.change-detail-title {
    padding-top: 0;
}

#skins img {
    width: 1vw;
}