body {
    background: #0A0B1C;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    display: flex;
    grid-template-rows: 1fr;
    grid-template-columns: 300px 1fr 1fr;
}

.sidebarlink:link {
    text-decoration: none;
}

.sidebarlink:visited {
    text-decoration:none;
}

#canvas {
    display: flex;
    flex-direction: row;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.iconsdiv {
    overflow: hidden;
    border-radius: 50%;
    width: 100px;
    height: 100px;

}
.icons {
    scale: 105%;
    width: 100px;
    height: auto;
}

#logo {
    background: #4E77FF;
    height: 50px;
}

#bettingstatus {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #F9F9F9;
}

#sidebar {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    width: 150vw;
    background-color: #181921;
    padding-left: 15px;
    padding-right: 15px;
}

.sidebarlink {
    color: #84929E;
}

#left-aligned {
    align-content: flex-start;
}

#profile {
    margin-top: auto;
    padding-bottom: 10px;
}

#reputation {
    
    color: #FEFEFE;
    border-bottom: 0.5px solid #84929E;
    font-size: 14px;

}

#patchnotes-embed {
    grid-column: 1;
}

#champlist {
    grid-column: 2;
    flex-wrap: wrap;
    overflow: auto;
    width: auto;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;ß
}