body {
    background: #0A0B1C;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    display: flex;
    grid-template-rows: 1fr;
    grid-template-columns: 300px 1fr 1fr;
    background-image: url(https://konachan.com/image/08db4073fe48d8c9e89d8ba1ca63da7d/Konachan.com%20-%20156155%20building%20cherry_blossoms%20city%20clouds%20flowers%20fom_%28lifotai%29%20landscape%20nobody%20original%20scenic%20water%20waterfall.jpg);
    
}

.sidebarlink {
    color: #84929E;
}

.sidebarlink:link {
    text-decoration: none;
}

.sidebarlink:visited {
    text-decoration:none;
}

.sidebarlink:hover {
    color: #FEFEFE !important;
}

#canvas {
    display: flex;
    flex-direction: row;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    backdrop-filter: blur(10px);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
}

.iconsdiv {
    overflow: hidden;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    transition-duration: 0.4s;

}
.icons {
    scale: 105%;
    width: 100px;
    height: auto;
    transition-duration: 0.4s;
}

#logo {
    /* background: #4E77FF; */
    height: 50px;
}

#bettingstatus {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #F9F9F9;
}

#sidebar {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    /* width: 15vw; */
    background-color: #181921;
    padding-left: 15px;
    padding-right: 15px;
}




.patch-change-block {
    color: rgb(255, 255, 255);
    padding-bottom: 100px;

}

.patch-change-block {
    display: block;
    position: relative;
    border-top: 1px solid white;
    border-image-source: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(117,117,117,1) 50%, rgba(0,0,0,1) 100%);
    border-image-slice: 1;
    margin: 3.57143%;
    padding: 3.57143%;
    cursor: default;
    -webkit-tap-highlight-color: transparent;
    font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
}

.change-detail-title {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.summary {
    padding-left: 6.2857%;
    padding-top: 5px;
    margin: 0px;
}

.reference-link {
    top: 0px;
    left: 0px;
    width: 10.7143%;
    min-width: 60px
}

.attribute {
	color: rgb(255, 255, 255);
text-transform: uppercase;
}
.attribute-before {
    color: rgb(255, 134, 134);
    text-decoration: line-through;
}
.attribute-after {
    color: rgb(250, 238, 134);
}

.white-stone.accent-before {
color: rgb(255, 255, 255);

}

.new {
    background-color: rgb(78, 166, 78);
    position: relative;
    top: -1px;
    margin-right: 4px;
    font-size: 0.4375rem;
    font-weight: 200;
    letter-spacing: 1.5px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 3px 3px 3px 5px;
}

.blockquote {
    margin-left: 3.57143%;
    margin-right: 3.57143%;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
font-size: 0.875rem;
    line-height: 1.6;
    margin: 7.14286% 7.14286% 3.57143%;
color: rgb(255, 255, 255);

}

.header-primary {
    font-size: 2rem;
    font-weight: 800;
    font-family: "Beaufort for LOL", serif;
    letter-spacing: 2.5px;
    line-height: 1;
    color: rgb(208, 168, 92);
    margin: 0px;
}

.context-designer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 0.75rem;
    color: rgb(134, 134, 134);
    margin: 5px 0px;
}

#left-aligned {
    align-content: flex-start;
}

#profile {
    margin-top: auto;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 8%;
    position: relative;
  }
  
  
  #profile img {
    margin: 0;
    border-radius: 100px;
    padding: 0;
    height: auto;
    width: 30%;
    margin-right: 20%;
  }
  
  
  #profile p {
    margin: 0;
    padding: 0;
  }
  
  #logout {
    display: flex;
    justify-content: center;
    padding-bottom: 4%;
  }
  
  .logout{
    cursor: pointer;
    width: 10vw;
    color: rgb(150, 150, 150);
    background-color: #181921;
    transition-duration: 0.4s;
    border-radius: 5px;
    height: 5vh;
    border-color: crimson;
    align-self: center;
  }
  
  .logout:hover {
    background-color: crimson; 
    color: white;
  }

#reputation {
    
    color: #FEFEFE;
    border-bottom: 0.5px solid #84929E;
    font-size: 30px;

}

#patchnotes-embed {
    border: none;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    width: 50%;
    overflow: auto;
    height: 100vh;
}

#patchnotes-embed ::-webkit-scrollbar {
    display:none;
}

#champlist {
    grid-column: 2;
    flex-wrap: wrap;
    overflow: auto;
    width: 50%;
    height: 100vh;
    display: flex;
   
}

#champlist ::-webkit-scrollbar {
    display:none;
}


#champexplanation {
flex: 0 0 100%;
  text-align: center;
}

#patchexplanation {
  text-align: center;
}

.patch-change-block {
    margin: 0;
}

.blockquote.context {
    margin: 3%;
    color: rgb(180, 180, 180);
}

.change-detail-title {
    padding-top: 0;
}

#skins img {
    width: 1vw;
}

#repsubtitle {
    color:#84929B; 
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #F9F9F9;
}

a:hover {
    color: palegoldenrod;
}

img {
    margin-right: 10px;
    border-radius: 10px;
}

.iconsdiv:hover {
    background-color: rgb(200, 200, 200);
    box-shadow: 0px 0px 0px 1px rgb(50, 50, 50);
}

.icons:hover {
    opacity: 0.85;
    scale: 100%;
}

