body {
    background: #0A0B1C;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    display: flex;
    grid-template-columns: 2;
}

#logo {
    background: #4E77FF;
}

#bettingstatus {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #F9F9F9;
}

#sidebar {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    width: 15vw;
    background-color: #181921;
    padding-left: 15px;
    padding-right: 15px;
}

.sidebarlink {
    color: #84929E;
}

.sidebarlink:link {
    text-decoration: none;
}

.sidebarlink:visited {
    text-decoration:none;
}

.sidebarlink:hover {
    color: #FEFEFE;
}

.logout{
 cursor: pointer;
width: 10vw;
    color: white;
    background-color: #181921;
    opacity:0.6;
    transition-duration: 0.4s;
}

.logout:hover {
  background-color: #FEFEFE; 
  color: black;
}

#left-aligned {
    align-content: flex-start;
}

#profile {
    margin-top: auto;
    padding-bottom: 10px;
}

#reputation {
    
    color: #FEFEFE;
    border-bottom: 0.5px solid #84929E;
    font-size: 14px;

}